<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %}{% endblock %} </title>

    {% block head %}{% endblock %}

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  </head>
<body>
  <h1>Locus</h1>

  <!-- Include the page's content with this block. -->
  {% block body %}
  {% endblock %}

   <!-- Include any page-specific Javascript using this block. -->
  {% block js %}
  {% endblock %}
</body>
</html>