{% extends 'base.html' %}
{% block title %}Locus: Is this location right for you?{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
  <div id='root'></div>
{#   <h2>sign up</h2>
    <form action="/new_user" method="POST">
      <fieldset class = "new-user-fs">
        email <input type="email" name="email"><br>
        username <input type="text" name="username"><br>
        first name <input type="text" name="first-name"><br>
        last name <input type="text" name="last-name"><br>
        password <input type="password" name="password"><br>
      </fieldset>
      <input type="submit">
    </form>

    <h2>login</h2>
    <form action="/api/login" method="POST">
      <fieldset class="login-fs">
        username <input type="text" name="username"><br>
        password <input type="password" name="password"><br>
      </fieldset>
      <input type="submit">
    </form> #}

{% endblock %}

{% block js %}
  <script type="text/babel" src="/static/jsx/homepage.jsx"></script>
{% endblock %}