{% extends 'base.html' %}
{% block title %}Locus{% endblock %}

{% block body %}
  <h2>sign up</h2>
    <form action="/new_user" method="POST">
      <p>
        email <input type="text" name="email">
      </p>

      <p>
        username <input type="text" name="username">
      </p>
      <p>
        first name <input type="text" name="first-name">
      </p>

      <p>
        last name <input type="text" name="last-name">
      </p>


      <p>
        password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

      <h2>login</h2>
  <form action="/api/login">
    <p>
      username <input type="text" name="username">
    </p>

    <p>
      password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}

{% block js %}
{% endblock %}