{% extends 'base.html' %}
{% block title %}Locus: Is this location right for you?{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css">
{% endblock %}

{% block body %}
<div class="modal" tabindex="-1" role="dialog" id='home-modal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id='home-modal-title'></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id='home-modal-body'></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id='modal-save'></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close'>close</button>
      </div>
    </div>
  </div>
</div>
<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/images/bird-s-eye-view-of-houses-4036300.jpg" class="d-block w-100" alt="...">  
        <div class='carousel-caption'>
          <h1 class='h1-responsive navbar-brand'>Locus</h1>
          <p>Finding Where You Want To Be</p>
        </div>
      </div>
    <div class="carousel-item">
      <img src="/static/images/evie-calder-97CO-A4P0GQ-unsplash.jpg" class="d-block w-100" alt="...">
      <div class='carousel-caption grocery'>
        <h3 class='h3-responsive navbar-brand'>Locus</h3>
        <p>Finding Where You Want To Be</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/janko-ferlic-h9Iq22JJlGk-unsplash.jpg" class="d-block w-100" alt="...">  
      <div class='carousel-caption'>
        <h3 class='h3-responsive navbar-brand'>Locus</h3>
        <p>Finding Where You Want To Be</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
  <script src="/static/js/homepage.js"></script>
  
{% endblock %}