{% extends 'base.html' %}


{%block head %}


<link rel="stylesheet" href="/static/css/location.css"/>
{% endblock %}


{% block title %}Find and Add a Location{% endblock %}

{% block body %}
  <header>
    <nav>
      <button id="log out">Log Out</button>
      <button id="back">Back</button>
    </nav>
    </header> 
    <main>
      <div class="location-search">
        <div id="find-location">
        </div>

        <div id="locationField">
        <input id="autocomplete" placeholder="Enter a location" type="text" />
        <button class="btn btn-score" type='button' id='btn-score'>Score this Location</button>
      </div>
    </div>

      <section class="map">
        <div id="map"></div>
      </section>

      <section id="results"></section>
    </main>




{% endblock body %}

{% block js %}
<script src="/static/js/locationSearch.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=initMap"></script>
{% endblock %}