{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block body %}
<header>
    
</header>

  <section id="profile">
    <h3><span id="username">{{user.username}}</span>
      
    </h3>
    <div class='card' id='user-card'>
      <ul class='user-det'>
        <li>first name: <span id="fname">{{user.first_name}}</span></li>
        <li>last name: <span id="lname">{{user.last_name}}</span> </li>
        <li>email: <span id="email">{{user.email}}</span></li>
      </ul>
      <fieldset id='edit-user'>
        <button class='crud'  id='edit-user-btn'>Edit User</button>
        <button class='crud' id='remove-user-btn'>Remove User</button>
        <button class='logout' value='Log Out' id='logout'>Log Out</button>
      </fieldset>
    </div>
  </section>
  <hr>
  <section id="criteria">
    <h3>Criteria 
      <button class='crud' id='add-crit'>Add</button>
    </h3>
    <div class='card' id='crit-card'>
    </div>
  </section>
  <hr>
  <section id="locations">
    <h3>Scored Locations    
      <button class='crud loc add' id='add-loc'>Add</button>
    </h3>
    <div class='card' id='loc-card'>


    </div>
  </section>

  <script src="/static/js/user.js"></script>
  <script src="/static/js/criteria.js"></script>
  <script src="/static/js/locations.js"></script>

{% endblock body %}
