{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}

{% block body %}
{#   <section id="">
    <img src="">
  </section> #}

  <section id="profile">
    <h3>User Information</h3>
    <div class='card' id='user-card'>
      <ul class='user-det'>
        <li> username: <span id="username">{{user.username}}</span></li>
        <li>first name: <span id="fname">{{user.first_name}}</span></li>
        <li>last name: <span id="lname">{{user.last_name}}</span> </li>
        <li>email: <span id="email">{{user.email}}</span></li>
      </ul>
    </div>
    <fieldset id='edit-user'>
      <button class='crud'  id='edit-user-btn'>Edit User</button>
      <button class='crud' id='remove-user-btn'>Remove User</button>
    </fieldset>
  </section>
  <hr>
  <section id="saved-criteria">
    <h3>Criteria</h3>
    {% for criterion in criteria %}
      <div class='card' id='criterion-card'>
        <ul class='crit-det' id='placetype'>Place Type: {{criterion.place_type.title}}</ul>
        <ul class='crit-det' id='placetype'>Importance: {{criterion.importance}}</ul>
        <ul class='crit-det' id='placetype'>Max Distance: {{criterion.max_distance}} meters </ul>
        <br>
      </div>
    {% endfor %}
    <fieldset id=edit-criteria>
      <button class='crud' id='add-criterion'>Add</button>
      <button class='crud' id='edit-criterion'>Edit</button>
      <button class='crud' id='remove-criterion'>Remove</button>
    </fieldset>
  </section>
  <hr>
  <section id="saved-locations">
    <h3>Saved Locations</h3>
    {% for score in scores %}
      <div class='card' id='location-card'>
        <ul>Address: {{score.location.address}}</ul>
        <ul>Score: {{score.score}}</ul>
    </div>
    {% endfor %}
    <fieldset id=edit-locations>
      <button class='crud' id='add-location'>Add Location</button>
      <button class='crud'cr id='remove-location'>Remove Location</button>
    </fieldset>
  </section>

  <section id="criteria-container" hidde></section>

  <script src="/static/js/user.js"></script>
  <script src="/static/js/criteria.js"></script>

{% endblock body %}
