{% extends 'base.html' %}

{%block head %}
<link rel="stylesheet" href="/static/css/questionaire.css"/>
{% endblock %}

{% block body %}
<div class='container-fluid d-flex justify-content-center' id='questionaire'>
    <div class='col-8'>
        <div class='row' id='h1-row'>
            <h1>get started</h1><br>
        </div>
        <div class='row'><h3>set your preferences</h3></div>
            <div class='row' id='home-loc'>your home location</div>
            <div class='row' id='curr-crit'></div>
            <div class='row' id='q-row'></div>
    </div>
</div>

{% endblock body %}
{% block js %}
<script src="/static/js/categoriesAndChoices.js"></script>
<script src="/static/js/questionaire.js"></script>
{% endblock %}